@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <text>No Customers yet :(</text>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td><a href='/@ViewBag.Title/Details/@customer.Id'>@customer.Name</a></td>
            </tr>
        }

    </table>
}
